<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.com.cqucc.forum.dao.DiscussPostMapper">

    <sql id="selectFields">
        id,user_id,title,content,type,status,create_time,comment_count,score
    </sql>

    <sql id="insertFields">
        user_id,title,content,type,status,create_time,comment_count,score
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">/*返回的是一个实体类需要写上返回值类型*/
        SELECT
        <include refid="selectFields"></include>
        from discuss_post
        where status !=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        <if test="orderMode == 0">
            ORDER BY type DESC , create_time DESC
        </if>
        <if test="orderMode == 1">
            ORDER BY type DESC ,score DESC , create_time DESC
        </if>
        limit #{offset},#{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="Integer">
        SELECT count(id)
        from discuss_post
        where status !=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post (<include refid="insertFields"></include>)
        value(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>


    <select id="selectDiscussPost" resultType="DiscussPost">/*返回的是一个实体类需要写上返回值类型*/
        SELECT
        <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <!--更新帖子评论数量-->
    <update id="updateDiscussCommentCount">
        update discuss_post set comment_count = #{count} where id = #{id}
    </update>

    <!--更新帖子的类型-->
    <update id="updateDiscussPostType">
        update discuss_post set type = #{type} where id = #{id}
    </update>

    <!--更新帖子的状态-->
    <update id="updateDiscussPostStatus">
        update discuss_post set status = #{status} where id = #{id}
    </update>

    <!--更新帖子分数-->
    <update id="updateDiscussPostScore">
        update discuss_post set score = #{score} where id = #{postId}
    </update>

</mapper>